body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.bronze {
  background-color: #d78c36;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, transparent 50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  margin-top: 100px; }
  .bronze:after {
    content: '';
    background-color: #009fba;
    width: 12px;
    height: 43px;
    top: -45px;
    left: 15px;
    z-index: -1;
    position: absolute;
    transform: rotate(15deg); }
  .bronze:before {
    content: '';
    background-color: #00CAED;
    width: 12px;
    height: 43px;
    top: -45px;
    z-index: -1;
    position: absolute;
    transform: rotate(-15deg); }

.gold {
  background-color: #fdb23b;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, transparent 50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  margin-top: 100px; }
  .gold:after {
    content: '';
    background-color: #009fba;
    width: 12px;
    height: 43px;
    top: -45px;
    left: 15px;
    z-index: -1;
    position: absolute;
    transform: rotate(15deg); }
  .gold:before {
    content: '';
    background-color: #00CAED;
    width: 12px;
    height: 43px;
    top: -45px;
    z-index: -1;
    position: absolute;
    transform: rotate(-15deg); }

.silver {
  background-color: #b9b7b5;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 50%, transparent 50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  margin-top: 100px; }
  .silver:after {
    content: '';
    background-color: #009fba;
    width: 12px;
    height: 43px;
    top: -45px;
    left: 15px;
    z-index: -1;
    position: absolute;
    transform: rotate(15deg); }
  .silver:before {
    content: '';
    background-color: #00CAED;
    width: 12px;
    height: 43px;
    top: -45px;
    z-index: -1;
    position: absolute;
    transform: rotate(-15deg); }

.container {
  width: 600px;
  display: block;
  margin: 0 auto;
  position: relative;
  padding-left: 17px;
  margin-top: -45px;
  overflow: hidden; }
  .container div {
    float: left;
    margin-right: 30px;
    transition: all .2s ease; }
    .container div:hover {
      transform: scale(1.1); }

body {
  font-family: 'Arvo'; }

.header {
  width: 100%;
  text-align: center;
  margin: 0 auto; }

h2 {
  text-transform: uppercase;
  letter-spacing: 5px; }

.action {
  clear: both;
  text-align: center;
  margin-top: 40px; }

#camera input[type="file"] {
  display: none; }
#camera #custom-upload {
  width: 80%;
  height: 50px;
  background-color: #000;
  position: absolute;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  cursor: pointer;
  border: 1px solid white; }
  #camera #custom-upload:after {
    font-family: FontAwesome;
    content: "\f083";
    color: #fff;
    position: absolute;
    left: 50%;
    font-size: 26px;
    top: 10px; }

#faces {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px; }

.image-result {
  width: 40%;
  margin-right: 20px;
  display: inline-block; }
  .image-result img {
    width: 100%; }

.results h2 {
  text-align: center; }
.results .silver, .results .gold, .results .bronze {
  left: 50%; }

@media (max-width: 600px) {
  .container {
    width: 500px; } }
@media (max-width: 475px) {
  .container {
    width: 500px;
    height: 700px;
    left: 20px; }

  .action {
    margin-top: 20px; } }
@media (max-width: 485px) {
  .container {
    width: 100px;
    height: 400px;
    left: 40px; } }

/*# sourceMappingURL=index.css.map */
