body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


$gold: #fdb23b;
$silver: #b9b7b5;
$bronze: #d78c36;
$ribbon: #00CAED;

@mixin createMedal($medalColor, $ribbonColor) {
  background-color: $medalColor;
  background-image: linear-gradient(45deg, rgba(0,0,0,.1) 50%, transparent 50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  margin-top: 100px;
  &:after {
    content: '';
    background-color: darken($ribbonColor, 10%);
    width: 12px;
    height: 43px;
    top: -45px;
    left: 15px;
    z-index: -1;
    position: absolute;
    transform: rotate(15deg);
  }
  &:before {
    content: '';
    background-color: $ribbonColor;
    width: 12px;
    height: 43px;
    top: -45px;
    z-index: -1;
    position: absolute;
    transform: rotate(-15deg);
  }
}

.bronze {
  @include createMedal($bronze, $ribbon);
}

.gold {
  @include createMedal($gold, $ribbon);
}

.silver {
  @include createMedal($silver, $ribbon);
}

.container {
  width: 600px;
  display: block;
  margin: 0 auto;
  position: relative;
  padding-left: 17px;
  margin-top: -45px;
  overflow: hidden;
}

.gold, .silver, .bronze {
  float: left;
  margin-right: 30px;
  transition: all .2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

body {
  font-family: 'Arvo';
}

.header {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.action {
  clear: both;
  text-align: center;
  margin-top: 40px;
}

#camera {
  input[type="file"] {
    display: none;
  }
  #custom-upload {
    width: 80%;
    height: 50px;
    background-color: #000;
    position: absolute;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    cursor: pointer;
    border: 1px solid white;
    &:after {
      font-family: FontAwesome;
      content: "\f083";
      color: #fff;
      position: absolute;
      font-size: 26px;
      top: 10px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 27px;
    }
  }
}

#faces {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
}

.image-result {
  width: 40%;
  margin-right: 20px;
  display: inline-block;
  img {
    width: 100%;
  }
}

.results {
  h2 {
    text-align: center;
  }
  .silver, .gold, .bronze {
    float: none !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.orientation {
  vertical-align: top;
  margin-top: 10%;
}

.ninety {
  transform: rotate(90deg);
}

.two-seventy {
  transform: rotate(270deg);
}

.one-eighty {
  transform: rotate(180deg);
}

// MEDIA QUERIES
@media (max-width: 600px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 475px) {
  #phone-view {
    display: block !important;
  }
  #non-phone-view {
    display: none;
  }
  .action {
    margin-top: 20px;
  }
}


// LOADER
#loader {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 20px;
  z-index: 10;
}

#loader span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 20px 5px;
}

#loader span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
  background-color: $gold;
}

#loader span:nth-child(2){
  animation: bounce 1s ease-in-out .33s infinite;
  background-color: $silver;
}

#loader span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
  background-color: $bronze;
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

#phone-view {
  width: 40px;
  height: 400px;
  display: none;
}